<span class="post-date">
  {% if page.authors %}
    {% for author in page.authors %}
      <!-- Website present -->
      {% if author.website %} 
        <a href="{{ author.website }}">{{ author.name }}</a>{% if forloop.last == false %}, {% endif %}
      <!-- No website present -->
      {% else %}
        {{ author.name }}{% if forloop.last == false %}, {% endif %}
      {% endif %}
    {% endfor %}
  {% else %}
    {{ site.author.website }}
  {% endif %} ({{ page.date | date: "%Y" }})
  {% unless page.company[0].name == "na" %}
    in cooperation with <a href="{{ page.company[0].website | downcase }}" target="_blank">{{ page.company[0].name }}</a>
  {% endunless %}
  {% if page.coaches and page.coaches[0].name != "na" %}
    <!-- Add for first item -->
    coached by
        {% for coach in page.coaches %}
            <!-- Website present -->
            {% if coach.website %} 
              <a href="{{ coach.website }}">{{ coach.name }}</a>{% if forloop.last == false %}, {% endif %}
            <!-- No website present -->
            {% else %}
              {{ coach.name }}{% if forloop.last == false %}, {% endif %}
            {% endif %}
        {% endfor %}
  {% endif %}
</span>
