---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";

/* Contact */
.about-person {
    width: 100%;
    min-width: 120px;
    /*max-width: 220px;*/
    margin: 1px;
}

.about-people-table {
    width: 100%;
    padding: 1px;
    border: 0 solid #000 !important;
}

.about-people-image {
    border: 0 solid #000 !important;
    vertical-align: top;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
}

.about-people-caption {
    border: 0 solid #000 !important;
    vertical-align: top;
    text-align: center;
    padding-top: 0px;
}

.about-people-name {
    font-weight: 1000;
    font: "Roboto-Bold";
}

/* Projects */
.project-table {
    width: 100%;
    padding: 1px;
    border: 0 solid #000 !important;
}

.project-cell-left {
    border: 0 solid #000 !important;
    vertical-align: top;
    text-align: center;
    padding-right: 0px;
}

.project-cell-right {
    border: 0 solid #000 !important;
    vertical-align: top;
    text-align: left;
    padding-left: 0px;
}

.project-name {
    font-weight: 1000;
    font: "Roboto-Bold";
}

.company-logo {
    max-width: 150px;
}

.coach-logo {
    max-width: 150px;
}

.project-thumbnail {
    max-width: 150px;
}
